html, body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

#parent-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}


.content-area {
  display: flex;
  flex-grow: 1;
  min-height: 0;
}

.sidebar {
  width: 400px;
  height: 100%;
  padding: 25px 15px;
  background-color: #313640;
  color: #FFF;
  text-align: left;
  border-right: 1px solid #5e5e5e;
  display: flex;
  flex-direction: column;
}

.sidebar-top {
  flex-grow: 1;
  border-bottom: 1px solid #5e5e5e;
  overflow: auto;
}

.scrollbar {
margin-left: 30px;
float: left;
height: 300px;
width: 65px;
background: #fff;
overflow-y: scroll;
margin-bottom: 25px;
}

.sidebar-bottom {
  padding-top: 15px;
}


.sidebar h3 {
  font-size: 30px;
  text-align: center;
}

.sidebar h5 {
  font-size: 20px;
  text-align: center;
}

.btn-area {
  text-align: center;
}

#mapContainer {
  backgroundColor: #ccc;
  flex-grow: 1
}

.reset {
  margin-bottom: 25px;
}

.reset:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* style the "brand" or logo area */
.navbar-brand {
  /* font-family: 'Fredoka', sans-serif; */
  font-weight: 600;
  letter-spacing: 1px;
}

/* override bootstrap styles for primary outline buttons */
.btn-outline-primary {
  color: #FFF;
  border-color: #FFF;
}

.btn-outline-primary:hover {
  color: #333;
  background-color: #ccc;
  border-color: #ccc;
}

.flyto{
  width: 90px;
  height: 70px;
  font-size: 14px;
}

.carousel-inner{
  height: 300px;
}


.carousel-caption {
  margin-top: 5px;
  padding-top: 10px

}

.carousel-caption-padding-y{

  position: absolute;
  top: 220px;
}


/* .map-overlay {
  position: absolute;
  bottom: 30px;
  right: 10px;
  background: #C2C0C4;
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

#legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 90px;
  margin-bottom: 40px;
  width: 170px;
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
} */




/* layer toggle area */
/* https://docs.mapbox.com/mapbox-gl-js/example/toggle-layers/ */

#menu {
  background: #fff;
  opacity: 0.8;
  position: absolute;
  z-index: 1;
  top: 60px;
  right: 10px;
  border-radius: 3px;
  width: 150px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: 'Open Sans', sans-serif;
}

#menu a {
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
}

#menu a:last-child {
  border: none;
}

#menu a:hover {
  background-color: #f8f8f8;
  color: #404040;
}

#menu a.active {
  background-color: #3887be;
  color: #ffffff;
}

#menu a.active:hover {
  background: #3074a4;
}

/* Marker tweaks */
.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 11px/14px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  padding: 0;
  width: auto;

}

.mapboxgl-popup-content h5 {
  background: #313640;
  color: #fff;
  margin: 0;
  padding: 5px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
  margin-bottom: -15px;
}

.mapboxgl-popup-content h6 {
  background: #313640;
  color: #fff;
  margin: 0;
  padding: 5px;
  border-radius: 3px 3px 0 0;
  font-weight: 300;
  margin-top: -15px;
  margin-bottom: -15px;
}

/* .mapboxgl-popup-content p {
  padding: 15px;
  font-weight: 300;
  margin-top: -15px;
  margin-bottom: -15px;
  text-align: left;
} */

.mapboxgl-popup-content div {
  padding: 10px;
  padding-top: 10px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #313640;
}
